.visibility-panel {
    text-align: center;
}

.visibility-tab {
    min-width: 150px;
    margin: 0 0.5rem;
    padding: 0.4rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: hsl(220, 75%, 50%);
    border-radius: 1rem 1rem 0 0;
    border: none;
    background-color: hsl(220, 50%, 90%);
    cursor: pointer;
    transition: 0.3s;
}

.visibility-tab:hover {
    background: hsl(220, 60%, 40%);
    color: hsl(220, 75%, 90%);
    transition: 0.3s;
}